/* Color Palette */
:root {
    --color-primary: #4ff4cb;
    --color-secondary: #e3fdf7;
    --color-accent: #4fcbf4;
    --color-headings:;
    --color-body: #333;
    --color-background_off: #8a8a8a;
    --color-background_on: #4ff4cb;
}

/* Typography */
@font-face {
    font-family: 'nunito_sans';
    src: url('fonts/open-sans/nunitosans-bold-webfont.woff2') format('woff2'),
         url('fonts/open-sans/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'nunito_sans';
    src: url('fonts/open-sans/nunitosans-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background: #000;
}

body.on {
    background: var(--color-background_on);
    font-family: "nunito_sans", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1rem;
    letter-spacing: 0;
    word-spacing: -2px;
    text-transform: capitalize;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

p {
    color: #000;
    width: 50ch;
    text-align: left;
}

p.on {
    color: var(--color-body);
    width: 50ch;
    text-align: left;
}

p + p {
    text-indent: 1rem;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 100%;
    }

    body {
        letter-spacing: 0;
        word-spacing: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 3rem 0 .5rem;
    }
}

/* Links */
a {
    color: var(--color-body);
    text-decoration: none;
}

.link-effect::before,
.link-effect::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.link-effect:hover::before,
.link-effect:hover::after {
    opacity: 1;
    transform: translateX(0px);
}

.link-effect::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
}

.link-effect::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
}

/* Banner LightBulb */
.banner {
    background: #000;
    width: 100vw;
    height: 100vh;
}

.banner.on {
    visibility: hidden;
}

.lightbulb {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.circle {
    background: var(--color-background_off);
    width: 300px;
    height: 300px;
    border: 1px solid var(--color-background_off);
    border-radius: 150px;
}

.circle.on {
    background: var(--color-background_on);
    border: none;
}

.wire {
    position: absolute;
    left: calc(50% - 2px);
    top: -50vh;
    width: 4px;
    height: 60vh;
    background: #000;
    z-index: 1;
}

body.on .bulb{
    background: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff;
    }

.bulb {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #444;
    border-radius: 50%;
    z-index: 2;
}

.bulb::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 88px;
    background: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}

body.on .bulb::before{
    background: #fff;
}

body.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
    }

.bulb span:nth-child(1) {
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px #fff;
}

.bulb span:nth-child(2) {
    position: absolute;
    top: -16px;
    right: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px #fff;
}

@media screen and (min-width: 1024px) {
    .banner {
        display: none;
    }

    .wire {
        top: -100px;
        height: 240px;
    }

    .lightbulb {
        margin: 0;
        top: 40px;  
        right: 40px;
        left: auto;
        transform: translate(0, 0);
    }  
}

/* Banner Switch */
.switch {
    position: absolute;
    margin: 0;
    top: 75%;
    right: 5%;
}

.switch-circle {
    background: var(--color-background_off);
    width: 120px;
    height: 120px;
    border: 1px solid var(--color-background_off);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-circle.on {
    background: var(--color-background_on);
    border: none;
}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"]:checked + label {
    transform: rotate(360deg);
	background-color: #000;
}

input[type="checkbox"]:checked + label::before {
    transform: translateX(45px);
	background-color: var(--color-background_on);
}

label {
	display: flex;
	width: 90px;
	height: 45px;
	border: 6px solid;
	border-radius: 99em;
	position: relative;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
    right: 7px;
}

label::before {
    transition: transform .75s ease;
	transition-delay: .5s;
	content: "";
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	background-color: #000;
	border-radius: 50%;
	top: 9px;
	left: 6px;
}