/* Color Palette */
:root {
    --color-primary: #4ff4cb;
    --color-secondary: #4fcbf4;
    --color-accent: #f44f78;
    --color-headings:#000;
    --color-body: #333;
    --color-background_off: #8a8a8a;
    --color-background_on: #4ff4cb;
    --color-nav-background: #f44f78;
}

/* Typography */
@font-face {
    font-family: 'nunito_sans';
    src: url('fonts/open-sans/nunitosans-bold-webfont.woff2') format('woff2'),
         url('fonts/open-sans/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'nunito_sans';
    src: url('fonts/open-sans/nunitosans-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background: #000;
    overflow-x: hidden;
}

body.on {
    background: var(--color-background_on);
    font-family: "nunito_sans", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-headings);
    margin: 3rem 0 1rem;
    letter-spacing: 0;
    word-spacing: -2px;
    text-transform: capitalize;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

p {
    color: #000;
    width: 50ch;
    text-align: left;
}

p.on {
    color: var(--color-body);
    width: 50ch;
    text-align: left;
}

p + p {
    text-indent: 1rem;
}

article {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 100%;
    }

    body {
        letter-spacing: 0;
        word-spacing: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 3rem 0 .5rem;
    }
}

/* Links */
a {
    color: var(--color-body);
    text-decoration: none;
}

.link-effect::before,
.link-effect::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.link-effect:hover::before,
.link-effect:hover::after {
    opacity: 1;
    transform: translateX(0px);
}

.link-effect::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
}

.link-effect::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
}

/* Banner LightBulb */
.banner {
    background: #000;
    width: 100vw;
    height: 97vh;
}

.banner.on {
    background: var(--color-background_on);
}

.lightbulb {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.circle {
    background: var(--color-background_off);
    width: 300px;
    height: 300px;
    border: 1px solid var(--color-background_off);
    border-radius: 150px;
}

.circle.on {
    background: var(--color-background_on);
    border: none;
}

.wire {
    position: absolute;
    left: calc(50% - 2px);
    top: -50vh;
    width: 4px;
    height: 60vh;
    background: #000;
    z-index: 1;
}

body.on .bulb{
    background: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff;
    }

.bulb {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #444;
    border-radius: 50%;
    z-index: 2;
}

.bulb::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 88px;
    background: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}

body.on .bulb::before{
    background: #fff;
}

body.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
    }

.bulb span:nth-child(1) {
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px #fff;
}

.bulb span:nth-child(2) {
    position: absolute;
    top: -16px;
    right: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px #fff;
}

@media screen and (min-width: 1024px) {
    .banner {
        display: none;
    }

    .wire {
        top: -100px;
        height: 240px;
    }

    .lightbulb {
        margin: 0;
        top: 40px;  
        right: 40px;
        left: auto;
        transform: translate(0, 0);
    }  
}

/* Banner Switch */
.switch {
    position: absolute;
    margin: 0;
    top: 75%;
    right: 5%;
}

.switch-circle {
    background: var(--color-background_off);
    width: 120px;
    height: 120px;
    border: 1px solid var(--color-background_off);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-circle.on {
    background: var(--color-background_on);
    border: none;
}

.input-lightbulb {
	visibility: hidden;
}

.input-lightbulb:checked + label {
    transform: rotate(360deg);
	background-color: #000;
}

.input-lightbulb:checked + label::before {
    transform: translateX(45px);
	background-color: var(--color-background_on);
}

.label-lightbulb {
	display: flex;
	width: 90px;
	height: 45px;
	border: 6px solid;
	border-radius: 99em;
	position: relative;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
    right: 7px;
}

.label-lightbulb::before {
    transition: transform .75s ease;
	transition-delay: .5s;
	content: "";
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	background-color: #000;
	border-radius: 50%;
	top: 9px;
	left: 6px;
}

/* Mobile NavBar */
.header-show {
    display: none;
}

.header-show.on {
    display: unset;
}

.logo {
    transform: translateY(-6px);
    line-height: 0rem;
}

.logo-desktop {
    line-height: 0rem;
    display: none;
}

.logo-desktop h2 {
    margin-left: 75px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--white {
    fill: var(--color-accent);
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

.navBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    align-items: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    text-align: center;
    font-size:x-large;
}

.nav__item > a {
    color: black;
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: #fff;
}

.nav__toggler {
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .navBar {
        display: none;
    }

    .logo-desktop {
        display: unset;
    }
}

/* Desktop NavBar */
.desktop-nav {
    display: none;
}

.input-nav {
    position: fixed;
    opacity: 0;
}
.label-nav {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.label-nav::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 38, 57, .75);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.label-nav .burger {
    position: fixed;
    top: 2.5em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.label-nav .burger::before, .label-nav .burger .bar, .label-nav .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.label-nav .burger .bar {
    top: 44%;
}
.label-nav .burger::before {
    top: 0;
    transform-origin: top left;
}
.label-nav .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
.input-nav:focus + .label-nav .burger, .label-nav:hover .burger {
    opacity: 0.75;
}
.nav-desktop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-desktop::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: var(--color-nav-background);
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    .nav-desktop::before {
        width: 40em;
   }
}
.nav-desktop a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-desktop a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
.nav-desktop a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
.nav-desktop a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
.nav-desktop a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
.nav-desktop a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
.nav-desktop a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
.nav-desktop a:hover, nav a:focus {
    color: black;
}
main {
    overflow: hidden;
}
main .content {
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media screen and (min-width: 1024px) {
    .desktop-nav {
        display: unset;
    }
}

/* Opener */
.opener {
    line-height: 1rem;
    text-align: center;
    display: none;
}

.opener.on {
    display: unset;
}

#name {
    margin-top: 20rem;
}

.title {
    color: #000;
    margin-bottom: 20rem;
}

.title.on {
    color: var(--color-body);
}


/* Main Content */
main {
    background: black ;
    padding: 10px;
}

main.on {
    background: var(--color-primary);
}

.header-center {
    text-align: center;
}